# Jekyll build and cache
_site/
.jekyll-cache/
.sass-cache/
.bundle/
env.local
_config.local.yml
data.local
*.local
venv/
# Ruby / bundler
/vendor/
Gemfile.lock
__pycache__/
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node (if ever added)
node_modules/
package-lock.json
yarn.lock

# Logs
*.log

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
